<div id='payment-methods'>
<div class="field">
  <%= f.label :payment_method_fees, t(:payment_method_fees) %>
</div>
<% @payment_method.fees.each do |fee|%>
  <%= render 'spree/admin/payment_methods/fee_fields', id: fee.id, amount: fee.amount, currency: fee.currency %>
<% end %>
</div>
<div class="clear"></div>
<div class="field">
  <div class="three columns">
    <%= button t(:add), 'icon-plus', 'button', id: 'add-payment-method-fee', data: { form: render('spree/admin/payment_methods/fee_fields').gsub("\n","") } %>
  </div>
</div>
